/****** Object:  ForeignKey [FK_DISTRITO_PROVINCIA]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[DISTRITO] DROP CONSTRAINT [FK_DISTRITO_PROVINCIA]
GO
/****** Object:  ForeignKey [FK_PROVINCIA_DEPARTAMENTO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[PROVINCIA] DROP CONSTRAINT [FK_PROVINCIA_DEPARTAMENTO]
GO
/****** Object:  ForeignKey [FK_UBIGEO_UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[UBIGEO] DROP CONSTRAINT [FK_UBIGEO_UBIGEO]
GO
/****** Object:  Check [CK_UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[UBIGEO] DROP CONSTRAINT [CK_UBIGEO]
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Distritos]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Seleccionar_Distritos]
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Provincias]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Seleccionar_Provincias]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[DISTRITO] DROP CONSTRAINT [FK_DISTRITO_PROVINCIA]
GO
DROP TABLE [dbo].[DISTRITO]
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Eliminar_Ubigeo]
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Insertar_Ubigeo]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[PROVINCIA] DROP CONSTRAINT [FK_PROVINCIA_DEPARTAMENTO]
GO
DROP TABLE [dbo].[PROVINCIA]
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Departamentos]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Seleccionar_Departamentos]
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Seleccionar_Ubigeo]
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Actualizar_Ubigeo]
GO
/****** Object:  StoredProcedure [dbo].[Arbol_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
DROP PROCEDURE [dbo].[Arbol_Ubigeo]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 04/26/2021 18:47:16 ******/
DROP TABLE [dbo].[DEPARTAMENTO]
GO
/****** Object:  Table [dbo].[UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[UBIGEO] DROP CONSTRAINT [FK_UBIGEO_UBIGEO]
GO
ALTER TABLE [dbo].[UBIGEO] DROP CONSTRAINT [CK_UBIGEO]
GO
DROP TABLE [dbo].[UBIGEO]
GO
/****** Object:  Table [dbo].[UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UBIGEO](
	[UBIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[UBIG_ID_FK] [int] NULL,
	[UBIG_NOMBRE] [varchar](100) NOT NULL,
	[UBIG_CODIGO] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UBIGEO] PRIMARY KEY CLUSTERED 
(
	[UBIG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UBIGEO] ON
INSERT [dbo].[UBIGEO] ([UBIG_ID], [UBIG_ID_FK], [UBIG_NOMBRE], [UBIG_CODIGO]) VALUES (1, NULL, N'Arequipa', N'04')
INSERT [dbo].[UBIGEO] ([UBIG_ID], [UBIG_ID_FK], [UBIG_NOMBRE], [UBIG_CODIGO]) VALUES (2, 1, N'Prov. Arequipa', N'0401')
INSERT [dbo].[UBIGEO] ([UBIG_ID], [UBIG_ID_FK], [UBIG_NOMBRE], [UBIG_CODIGO]) VALUES (3, NULL, N'Tacna', N'05')
SET IDENTITY_INSERT [dbo].[UBIGEO] OFF
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[DEPA_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPA_CODIGO] [varchar](10) NOT NULL,
	[DEPA_NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[DEPA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] ON
INSERT [dbo].[DEPARTAMENTO] ([DEPA_ID], [DEPA_CODIGO], [DEPA_NOMBRE]) VALUES (2, N'01', N'Amazonas')
INSERT [dbo].[DEPARTAMENTO] ([DEPA_ID], [DEPA_CODIGO], [DEPA_NOMBRE]) VALUES (94, N'02', N'Ancash')
INSERT [dbo].[DEPARTAMENTO] ([DEPA_ID], [DEPA_CODIGO], [DEPA_NOMBRE]) VALUES (281, N'03', N'Apurimac')
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] OFF
/****** Object:  StoredProcedure [dbo].[Arbol_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Arbol_Ubigeo]
AS
BEGIN
	SELECT UBIG_ID, COALESCE(UBIG_ID_FK, 0) AS UBIG_ID_FK, UBIG_NOMBRE FROM UBIGEO
END
GO
/****** Object:  StoredProcedure [dbo].[Actualizar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Actualizar_Ubigeo]
	@UBIG_ID INT, 
	@UBIG_ID_FK INT, 
	@UBIG_NOMBRE VARCHAR(100), 
	@UBIG_CODIGO VARCHAR(10)
AS
BEGIN
	UPDATE UBIGEO
	SET
		UBIG_ID_FK = @UBIG_ID_FK, 
		UBIG_NOMBRE = @UBIG_NOMBRE, 
		UBIG_CODIGO = @UBIG_CODIGO
	WHERE UBIG_ID = @UBIG_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Seleccionar_Ubigeo]
	@UBIG_ID INT
AS
BEGIN
	SELECT UBIG_ID, UBIG_ID_FK, UBIG_NOMBRE, UBIG_CODIGO
	FROM UBIGEO
	WHERE UBIG_ID = @UBIG_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Departamentos]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Seleccionar_Departamentos]
AS
BEGIN
	SELECT DEPA_ID, DEPA_CODIGO, DEPA_NOMBRE FROM DEPARTAMENTO
END
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[PROV_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPA_ID] [int] NOT NULL,
	[PROV_CODIGO] [varchar](10) NOT NULL,
	[PROV_NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[PROV_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PROVINCIA] ON
INSERT [dbo].[PROVINCIA] ([PROV_ID], [DEPA_ID], [PROV_CODIGO], [PROV_NOMBRE]) VALUES (3, 2, N'0101', N'Chachapoyas')
INSERT [dbo].[PROVINCIA] ([PROV_ID], [DEPA_ID], [PROV_CODIGO], [PROV_NOMBRE]) VALUES (25, 2, N'0102', N'Bagua')
INSERT [dbo].[PROVINCIA] ([PROV_ID], [DEPA_ID], [PROV_CODIGO], [PROV_NOMBRE]) VALUES (32, 2, N'0103', N'Bongara')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[PROVINCIA] OFF
/****** Object:  StoredProcedure [dbo].[Insertar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Insertar_Ubigeo]
	@UBIG_ID_FK INT, 
	@UBIG_NOMBRE VARCHAR(100), 
	@UBIG_CODIGO VARCHAR(10)
AS
BEGIN
	INSERT INTO UBIGEO
		(UBIG_ID_FK, UBIG_NOMBRE, UBIG_CODIGO)
	VALUES
		(@UBIG_ID_FK, @UBIG_NOMBRE, @UBIG_CODIGO)
END
GO
/****** Object:  StoredProcedure [dbo].[Eliminar_Ubigeo]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Eliminar_Ubigeo]
	@UBIG_ID INT
AS
BEGIN
	DELETE FROM UBIGEO
	WHERE UBIG_ID = @UBIG_ID
END
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[DIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROV_ID] [int] NOT NULL,
	[DIST_CODIGO] [varchar](10) NOT NULL,
	[DIST_NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[DIST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DISTRITO] ON
INSERT [dbo].[DISTRITO] ([DIST_ID], [PROV_ID], [DIST_CODIGO], [DIST_NOMBRE]) VALUES (4, 3, N'010101', N'Chachapoyas')
INSERT [dbo].[DISTRITO] ([DIST_ID], [PROV_ID], [DIST_CODIGO], [DIST_NOMBRE]) VALUES (5, 3, N'010102', N'Asuncion')
INSERT [dbo].[DISTRITO] ([DIST_ID], [PROV_ID], [DIST_CODIGO], [DIST_NOMBRE]) VALUES (6, 3, N'010103', N'Balsas')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[DISTRITO] OFF
/****** Object:  StoredProcedure [dbo].[Seleccionar_Provincias]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Seleccionar_Provincias]
AS
BEGIN
	SELECT PROV_ID, DEPA_ID, PROV_CODIGO, PROV_NOMBRE FROM PROVINCIA
END
GO
/****** Object:  StoredProcedure [dbo].[Seleccionar_Distritos]    Script Date: 04/26/2021 18:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Seleccionar_Distritos]
AS
BEGIN
	SELECT DIST_ID, PROV_ID, DIST_CODIGO, DIST_NOMBRE FROM DISTRITO
END
GO
/****** Object:  Check [CK_UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[UBIGEO]  WITH CHECK ADD  CONSTRAINT [CK_UBIGEO] CHECK  (([UBIG_ID]<>[UBIG_ID_FK]))
GO
ALTER TABLE [dbo].[UBIGEO] CHECK CONSTRAINT [CK_UBIGEO]
GO
/****** Object:  ForeignKey [FK_DISTRITO_PROVINCIA]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[DISTRITO]  WITH CHECK ADD  CONSTRAINT [FK_DISTRITO_PROVINCIA] FOREIGN KEY([PROV_ID])
REFERENCES [dbo].[PROVINCIA] ([PROV_ID])
GO
ALTER TABLE [dbo].[DISTRITO] CHECK CONSTRAINT [FK_DISTRITO_PROVINCIA]
GO
/****** Object:  ForeignKey [FK_PROVINCIA_DEPARTAMENTO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[PROVINCIA]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIA_DEPARTAMENTO] FOREIGN KEY([DEPA_ID])
REFERENCES [dbo].[DEPARTAMENTO] ([DEPA_ID])
GO
ALTER TABLE [dbo].[PROVINCIA] CHECK CONSTRAINT [FK_PROVINCIA_DEPARTAMENTO]
GO
/****** Object:  ForeignKey [FK_UBIGEO_UBIGEO]    Script Date: 04/26/2021 18:47:16 ******/
ALTER TABLE [dbo].[UBIGEO]  WITH CHECK ADD  CONSTRAINT [FK_UBIGEO_UBIGEO] FOREIGN KEY([UBIG_ID_FK])
REFERENCES [dbo].[UBIGEO] ([UBIG_ID])
GO
ALTER TABLE [dbo].[UBIGEO] CHECK CONSTRAINT [FK_UBIGEO_UBIGEO]
GO
