<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="MiCadenaConexion" connectionString="Data Source=.;Initial Catalog=TAD2020II;User ID=UserTAD;Password=123456"/>
	    <add name="Conexion01" connectionString="Data Source=.;Initial Catalog=DB01;User ID=User01;Password=123"/>
		<add name="Conexion02" connectionString="Data Source=.;Initial Catalog=DB02;User ID=User02;Password=1234"/>
    </connectionStrings>
</configuration>