USE [P2_PC1_TAD_2020I]
GO

ALTER PROC [dbo].[ACTUALIZA_RECETA]
	@CREC_ID int,
	@CREC_FECHA date, 
	@MEDI_ID int, 
	@PACI_ID bit,
	@CREC_VERSION timestamp,
	@XML XML
AS
BEGIN
	IF (SELECT CREC_VERSION FROM CAB_RECETA WHERE CREC_ID = @CREC_ID) <> @CREC_VERSION 
	BEGIN
		RAISERROR('El registro fue actualizado por otro usuario', 16, 1)
		RETURN
	END

	UPDATE CAB_RECETA
	SET
		CREC_FECHA = @CREC_FECHA, 
		MEDI_ID = @MEDI_ID, 
		PACI_ID = @PACI_ID
	WHERE CREC_ID = @CREC_ID

	DELETE DET_RECETA
	WHERE CREC_ID = @CREC_ID

	INSERT INTO DET_RECETA
	SELECT 
		@CREC_ID,
		DREC_ID = T.Item.value('@DREC_ID', 'int'),
		PROD_ID = T.Item.value('@PROD_ID', 'int'),
		DREC_CANTIDAD = T.Item.value('@DREC_CANTIDAD', 'decimal(18,2)'),
		DREC_INDICACION = T.Item.value('@DREC_INDICACION', 'varchar(max)')
	FROM @XML.nodes('/row') AS T(Item)
END
