USE [P2_PC1_TAD_2020I]
GO

ALTER PROC [dbo].[SELECCIONA_RECETA]
	@CREC_ID INT
AS
BEGIN
	SELECT C.CREC_ID, C.CREC_FECHA, C.MEDI_ID, C.PACI_ID, 
		M.MEDI_APE_PATERNO + ' ' + M.MEDI_APE_MATERNO + ' ' + M.MEDI_NOMBRE AS MEDI_APE_NOM,
		P.PACI_APE_PATERNO + ' ' + P.PACI_APE_MATERNO + ' ' + P.PACI_NOMBRE AS PACI_APE_NOM,
		C.CREC_VERSION AS CREC_VERSION -- timestamp
	FROM CAB_RECETA C
		INNER JOIN MEDICO M ON M.MEDI_ID = C.MEDI_ID 
		INNER JOIN PACIENTE P ON P.PACI_ID = C.PACI_ID 
	WHERE CREC_ID = @CREC_ID

	SELECT D.CREC_ID, D.DREC_ID, D.PROD_ID, D.DREC_CANTIDAD, D.DREC_INDICACION,
		P.PROD_DESC
	FROM DET_RECETA D
		INNER JOIN PRODUCTO P ON P.PROD_ID = D.PROD_ID 
	WHERE D.CREC_ID = @CREC_ID
END
